p {
  color: #777777;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }

#message-box {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 300px;
  background-color: #d6e5cd; }
  #message-box p {
    margin: auto;
    padding: 10px; }
  #message-box .sender {
    text-align: right;
    background-color: #52b9d2; }
  #message-box .receiver {
    text-align: left;
    background-color: #f4c68b; }

#user-input {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-color: #695494;
  vertical-align: middle;
  padding: 10px; }

/*
  topbar.css from meebo
*/
.topbar {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  overflow: visible;
  margin-bottom: 36px; }

.topbar .fill a {
  font-family: "OmnesSemibold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 36px;
  color: #ccc;
  text-decoration: none; }

.topbar h3 a:hover {
  color: white; }

.topbar ul .active > a {
  background: #333333;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5); }

.topbar .container {
  position: relative; }

.topbar .brand {
  height: 20px;
  width: 114px;
  background-image: url("https://www.meebo.com/ppstatic/img/white-logo.png");
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
  margin: 0 0;
  padding: 0 0; }

.topbar h3 {
  position: relative; }

.topbar p {
  margin: 0;
  line-height: 40px; }

.topbar p a:hover {
  background-color: transparent;
  color: white; }

.topbar form {
  float: left;
  margin: 5px 0 0 0;
  position: relative;
  filter: alpha(opacity=100);
  -khtml-opacity: 1;
  -moz-opacity: 1;
  opacity: 1; }

.topbar form.pull-right {
  float: right; }

.topbar input {
  background-color: #444;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: normal;
  font-weight: 13px;
  line-height: 1;
  padding: 4px 9px;
  color: white;
  color: rgba(255, 255, 255, 0.75);
  border: 1px solid #111111;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.25);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none; }

.topbar input:-moz-placeholder {
  color: #dddddd; }

.topbar input::-webkit-input-placeholder {
  color: #dddddd; }

.topbar input:hover {
  background-color: #999999;
  background-color: rgba(255, 255, 255, 0.5);
  color: white; }

.topbar input:focus, .topbar input.focused {
  outline: 0;
  background-color: white;
  color: #555555;
  text-shadow: 0 1px 0 white;
  border: 0;
  padding: 5px 10px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15); }

.topbar-inner,
.topbar .fill {
  background: #4E4E4E;
  background-image: linear-gradient(bottom, #333333 0%, #4e4e4e 100%);
  background-image: -o-linear-gradient(bottom, #333333 0%, #4e4e4e 100%);
  background-image: -moz-linear-gradient(bottom, #333333 0%, #4e4e4e 100%);
  background-image: -webkit-linear-gradient(bottom, #333333 0%, #4e4e4e 100%);
  background-image: -ms-linear-gradient(bottom, #333333 0%, #4e4e4e 100%);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  height: 40px; }

.topbar div > ul,
.topbar .fill div > ul,
.nav {
  display: block;
  position: relative;
  left: 155px; }

.topbar div > ul > li,
.topbar .fill div > ul > li,
.nav > li {
  display: block;
  float: left;
  margin-right: 16px; }

.topbar div > ul a,
.topbar .fill div > ul a,
.nav a {
  display: block;
  float: none;
  padding: 0 10px;
  line-height: 40px;
  text-decoration: none;
  text-transform: capitalize; }

.topbar div > ul a:hover,
.topbar .fill div > ul a:hover,
.nav a:hover {
  color: white;
  text-decoration: none; }

.topbar div > ul a.selected,
.topbar .fill div > ul a.selected,
.nav a.selected {
  background: #333333;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.5);
  color: white; }

.topbar div > ul .active > a,
.topbar .fill div > ul .active > a,
.nav .active > a {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: white;
  background-color: rgba(0, 0, 0, 0.5); }

.topbar div > ul.secondary-nav,
.topbar .fill div > ul.secondary-nav,
.nav.secondary-nav {
  float: right;
  margin-left: 10px;
  margin-right: 0; }

.topbar div > ul.secondary-nav .menu-dropdown,
.topbar div > ul.secondary-nav .dropdown-menu,
.topbar .fill div > ul.secondary-nav .menu-dropdown,
.topbar .fill div > ul.secondary-nav .dropdown-menu,
.nav.secondary-nav .menu-dropdown,
.nav.secondary-nav .dropdown-menu {
  right: 0;
  border: 0; }

.topbar div > ul a.menu:hover,
.topbar div > ul li.open .menu,
.topbar div > ul .dropdown-toggle:hover,
.topbar div > ul .dropdown.open .dropdown-toggle,
.topbar .fill div > ul a.menu:hover,
.topbar .fill div > ul li.open .menu,
.topbar .fill div > ul .dropdown-toggle:hover,
.topbar .fill div > ul .dropdown.open .dropdown-toggle,
.nav a.menu:hover,
.nav li.open .menu,
.nav .dropdown-toggle:hover,
.nav .dropdown.open .dropdown-toggle {
  background: #444;
  background: rgba(255, 255, 255, 0.05); }

.topbar div > ul .menu-dropdown,
.topbar div > ul .dropdown-menu,
.topbar .fill div > ul .menu-dropdown,
.topbar .fill div > ul .dropdown-menu,
.nav .menu-dropdown,
.nav .dropdown-menu {
  background-color: #333; }

.topbar div > ul .menu-dropdown a.menu,
.topbar div > ul .menu-dropdown .dropdown-toggle,
.topbar div > ul .dropdown-menu a.menu,
.topbar div > ul .dropdown-menu .dropdown-toggle,
.topbar .fill div > ul .menu-dropdown a.menu,
.topbar .fill div > ul .menu-dropdown .dropdown-toggle,
.topbar .fill div > ul .dropdown-menu a.menu,
.topbar .fill div > ul .dropdown-menu .dropdown-toggle,
.nav .menu-dropdown a.menu,
.nav .menu-dropdown .dropdown-toggle,
.nav .dropdown-menu a.menu,
.nav .dropdown-menu .dropdown-toggle {
  color: white; }

.topbar div > ul .menu-dropdown a.menu.open,
.topbar div > ul .menu-dropdown .dropdown-toggle.open,
.topbar div > ul .dropdown-menu a.menu.open,
.topbar div > ul .dropdown-menu .dropdown-toggle.open,
.topbar .fill div > ul .menu-dropdown a.menu.open,
.topbar .fill div > ul .menu-dropdown .dropdown-toggle.open,
.topbar .fill div > ul .dropdown-menu a.menu.open,
.topbar .fill div > ul .dropdown-menu .dropdown-toggle.open,
.nav .menu-dropdown a.menu.open,
.nav .menu-dropdown .dropdown-toggle.open,
.nav .dropdown-menu a.menu.open,
.nav .dropdown-menu .dropdown-toggle.open {
  background: #444;
  background: rgba(255, 255, 255, 0.05); }

.topbar div > ul .menu-dropdown li a,
.topbar div > ul .dropdown-menu li a,
.topbar .fill div > ul .menu-dropdown li a,
.topbar .fill div > ul .dropdown-menu li a,
.nav .menu-dropdown li a,
.nav .dropdown-menu li a {
  color: white;
  padding: 0 10px; }

.topbar div > ul .menu-dropdown .active a,
.topbar div > ul .dropdown-menu .active a,
.topbar .fill div > ul .menu-dropdown .active a,
.topbar .fill div > ul .dropdown-menu .active a,
.nav .menu-dropdown .active a,
.nav .dropdown-menu .active a {
  color: white; }

.topbar div > ul .menu-dropdown .divider,
.topbar div > ul .dropdown-menu .divider,
.topbar .fill div > ul .menu-dropdown .divider,
.topbar .fill div > ul .dropdown-menu .divider,
.nav .menu-dropdown .divider,
.nav .dropdown-menu .divider {
  background-color: #222;
  border-color: #444; }

.topbar ul .menu-dropdown li a,
.topbar ul .dropdown-menu li a {
  padding: 4px 15px; }

/* NOTIFICATION BAR */
#notificationBar {
  padding: 9px;
  position: relative;
  z-index: 1000;
  background: #fffdd8;
  background: -moz-linear-gradient(top, #fffdf7 0%, #fffdd8 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffdf7), color-stop(100%, #fffdd8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fffdf7 0%, #fffdd8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fffdf7 0%, #fffdd8 100%);
  /* Opera11.10+ */
  background: -ms-linear-gradient(top, #fffdf7 0%, #fffdd8 100%);
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdf7', endColorstr='#fffdd8',GradientType=0 );
  /* IE6-9 */
  background: linear-gradient(top, #fffdf7 0%, #fffdd8 100%);
  /* W3C */ }

#notificationBar .notificationContent {
  color: #444;
  font-size: 12px;
  margin: 0 auto;
  position: relative;
  text-align: center; }

#notificationBar strong {
  font-weight: bold;
  line-height: 1.7em; }
