$msgbox-color: #dceaf4;

@mixin rounded($radius: 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@mixin shadowed() {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
}

@mixin transition() {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

html, body {
  min-height: 100%;
}

#main-content {

}

#sidebar {
  //position: absolute;
  background-color: lightslategray;
  height: 600px;
}

.conversation-box {
  @include shadowed;
  background-color: $msgbox-color;
  margin-top: 20px;
  height: 500px;
  width: 400px;

  .messages-box {
    overflow: auto;
    height: 350px;

    p {
      @include rounded;
      padding: 10px;
      margin: 10px;
    }

  }

  .user-input {
    height: 100px;
    position: absolute;
    top: 480px;
    margin: 5px;
    padding: 5px;

    button {
      margin-left: 10px;
      width: 100px;
      height: 50px;
    }

    textarea {
      width: 250px;
    }

    .char-count {
      position: absolute;
      top: 70px;
      right: 125px;
    }
  }

}

.incoming-true {
  background-color: peachpuff;
}

.incoming-false {
  background-color: snow;
  text-align: right;
}

#signinButton {
  margin-top: 4px;
  height: 30px;
}

p {
  color: #777777;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}