html, body {
  min-height: 100%; }

#sidebar {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: floralwhite;
  height: 500px; }
  #sidebar .thread {
    border-bottom: dashed 1px darkslategrey; }
  #sidebar h4 {
    float: left;
    margin: 0px;
    padding: 5px; }
  #sidebar span {
    margin-right: 5px;
    font-size: small; }
  #sidebar .thread-highlight {
    cursor: pointer;
    background-color: lightblue; }

.conversation-box {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #dceaf4;
  height: 500px;
  width: 400px; }
  .conversation-box .messages-box {
    overflow: auto;
    height: 350px; }
    .conversation-box .messages-box p {
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
      border: 1px solid rgba(0, 0, 0, 0.3);
      padding: 10px;
      margin: 10px; }
  .conversation-box .user-input {
    height: 100px;
    position: absolute;
    top: 460px;
    margin: 5px;
    padding: 5px; }
    .conversation-box .user-input button {
      margin-left: 10px;
      width: 100px;
      height: 50px; }
    .conversation-box .user-input textarea {
      width: 250px; }
    .conversation-box .user-input .char-count {
      position: absolute;
      top: 70px;
      right: 125px; }

#background {
  position: absolute;
  opacity: 0.2;
  z-index: -1;
  top: -20px;
  width: 100%;
  height: 100%; }

.incoming-true {
  background-color: peachpuff; }

.incoming-false {
  background-color: snow; }

#profileInfo {
  margin-top: 4px;
  height: 30px; }
  #profileInfo img {
    height: 30px; }

p {
  color: #777777;
  font-family: "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px; }
